body{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
}

#page{
    margin: 60px auto;
    width: 919px;
}




/* TEXT */
*{
    -webkit-transition: background-color 200ms linear, border-color 200ms linear;
    transition: background-color 200ms linear, border-color 200ms linear;
    font-family: 'Roboto', sans-serif;
}

a{
    cursor: pointer;
}

h1{
    font-size: 28px;
    margin: 5px 0;
}


.logo{
    font-size: 75;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Sofia', cursive;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

section .option-grp > *{
    position: relative;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    display: inline-block;
}


hr{
    border: none;
    border-bottom: 1px solid #ebebeb;
}

section .option-grp a,
.fakefile > a{
    margin-top: 5px;
    display: inline-block;
    float: right;

    text-decoration: underline;

    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

select{
    -webkit-appearance: none;
    appearance: none;    
    border-radius: 0;
    padding: 3px 6px;
    text-align: center;
    border: none;
    background-color: #0000003d;
    font-size: 15px;
    min-width: 150px;
    color: inherit;
}



.option-grp{
    position: relative;
    margin: 13px 0;
}

.option-grp *:not(h2){
    float: right;
}

.option-grp *{
    position: relative;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    display: inline-block;
}










#theme-builder-container{
    height: 301px;
}









input:active{
    outline: 2px solid rgba(42, 136, 230, 0.38) !important;
}

#right-container{
    width: 439px;
    height: 100%;

    float: right;
    padding-left: 20px;
    z-index:1;

    display: inline-block;
    position: relative;
}

#left-container{
    border-width: 2px;
    width: 439px;
    height: 100%;
    display:inline-block;
    position: relative;
    float: left;

    padding-right: 20px;
    border-right: 1px solid rgba(235, 235, 235, 0.4);
}

#left-container-description{
    width: 100%;

    font-size: 23px;
    font-weight: normal;
    text-align: center;

    display: inline-block;
    margin-bottom: 15px;

    -webkit-user-select: none;
    user-select: none;
}

.clear-input{
    position: relative;
    display: inline-block;
    margin-top: 4px;
    margin-right: 3px;
    height: 13px;
    float: right;

    color: #aaa;
    font-family: arial;
    font-size: 13px;

    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.clear-input:hover{
    color: #000;
}

.reset{
    position: relative;
    float: right;

    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #555;

    line-height: 230%;

    cursor: pointer;
}

#next{
    width: 100%;

    font-size: 18px;
    text-align: right;

    display: inline-block;

    cursor:pointer;

    position: absolute;
    bottom: 0px;
    right: 0px;

    text-decoration: underline;

    -webkit-transition: 0.2s;
    -webkit-user-select: none;
    user-select: none;
}

.chosen-container, .sp-replacer{
    border: 1px solid #ebebeb !important;
}

.chosen-container{
    float: right !important;
    width: 80px !important;
}

#left-container > section{
    display: inline-block;

    padding-bottom: 7px;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 15px;

    -webkit-transition: 0s !important;
}

#left-container > section:last-child{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#left-container::-webkit-scrollbar:vertical {
    width: 4% !important;
}

#left-container > section > h1{
    display: inline-block;
    color: #000;
    float: left;

    margin-top: 0px;
    padding-bottom: 4px;
    margin-bottom: 0px;

    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

#left-container > section > div{
    display: inline-block;
    width: 100%;
    margin-top: 4px;

    font-weight: 300;
    color: #333;
    font-size: 14px;
}

#left-container > section > div > input{
    float: right;
}

#left-container > section > div > h3{
    display: inline-block;
    float: left;
    line-height: 175%;

    margin: 0px;
}

/*calculator css------------------------------>*/

#margins{
    background-color: #fff;
    border: 1px solid #ddd;

    padding: 17px;
    display: inline-block;

    position: relative;

    margin-left: -222px;
}
