body{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.dev-menu{
    display: none;
}
body.dev .dev-menu{
    display: block;
}


#page{
    width: 700px;
    margin: 60px auto;
}


section{
    margin-bottom: 50px;
}



/* TEXT */
*{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a{
    cursor: pointer;
}

h1{
    font-size: 28px;
    margin: 5px 0;
}


.logo{
    font-size: 75;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Sofia', cursive;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}


hr{
    border: none;
    border-bottom: 1px solid rgba(235, 235, 235, 0.4);
}

section .option-grp a,
.fakefile > a{
    margin-top: 5px;
    display: inline-block;
    float: right;

    text-decoration: underline;

    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

select{
    -webkit-appearance: none;
    appearance: none;    
    border-radius: 0;
    padding: 3px 6px;
    text-align: center;
    border: none;
    background-color: #0000003d;
    font-size: 15px;
    min-width: 150px;
}




.option-grp{
    position: relative;
    margin: 13px 0;
}

.option-grp *:not(h2){
    float: right;
}

.option-grp *{
    position: relative;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    display: inline-block;
}





div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    cursor: pointer;
}

input.hidden-input {
    position: relative;
    width: 51px;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

#theme-file-upload{
    float: left;
    cursor: pointer;
    margin-top: 6px;
}
