html,
body{
    overflow: hidden;
}

.calculator{
	&.scientific{
        height: 303px;
        width: 434px;
    }

    &.screenOnly{
        height: 73px;
        width: 300px;
    }

    &.normal{
        height: 286px;
        width: 222px;
    }

	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popout{
    text-decoration: none;
    opacity: .3;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #bbb;
    position: absolute;
    top: 3px;
    left: 2px;
}