.button { /*general styling for all buttons*/
    position: relative;
    overflow: hidden;
}

body > input{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
}

.ripple { /*stylings for the circular overlay*/
    position: absolute;
    border-radius: 100%;
    width: 0;
    height: 0;
    background: rgba(0,0,0, .05);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.notransition { /*used to reset the ripple without an animatiion*/
    -webkit-transition: none !important;
    transition: none !important;
}


.calculator{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;

    padding: 14px;
    border-radius: 4px;


    section{
        margin-top: 16px;
        position: relative;
        display: none;
        font-size: 0px;
        width: 196px;
    }


    section.left{
        float: left;
    }


    section.right{
        float: right;
    }


    .button{
        width: 25%;
        height: 40px;

        display: inline-block;
        cursor: pointer;

        outline: 1px solid rgba(0,0,0,0);

        font-size: 15px;
        line-height: 39px;
        font-weight: 200;
        text-align: center;
        overflow: hidden;
        -webkit-transition: none !important;

        sup{
            font-size: 70%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
            top: -0.7em;
        }

        .sup-sqrt{
            margin-right: -4px; 
        }
    }


    .number{
        line-height: 39px;
        font-weight: 300;
        font-size: 18px;
    }

    #point{
        font-weight: bold;
    }

    .button.long{
        width: 98px;
        margin-left:0px;
    }

    .button.left{
        margin-left:0px;
    }

    .button:hover{
        background-color: #ddd;
    }


    #input-container{
        position: relative;

        border: 1px solid #fff;
        border-radius: 0;
        height: 59px;

        letter-spacing: 1px;
        text-align: right;
        padding-right: 10px;
        padding-top: 6px;

        span{
            display: block;
            line-height: 31px;
            font-size: 27px;
        }

        .after,
        .before{
            padding-right: 1px;
            opacity: 0.7;
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 1px;
        }
    }

    .input-border{
        position: absolute;
        height: 80px;
        width: 443px;
        z-index: 0;
        margin-left: -20px;
        margin-top: -20px;
    }

    #input-container .text{
        width: 25px;
        margin-left: 10px;
        float: left;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        text-align: left;

        span{
            height: 16px;
            line-height: 14px;
            display: block;
        }

        #rad-deg{
            cursor: pointer;
        }
    }
}
