html,
body,{
    &.scientific{
        min-height: 303px;
        min-width: 434px;
    }

    &.screenOnly{
        min-height: 73px;
        min-width: 300px;
    }

    &.normal{
        min-height: 286px;
        min-width: 222px;
    }
}

.ripple { /*stylings for the circular overlay*/
    position: absolute;
    border-radius: 100%;
    width: 0;
    height: 0;
    background: rgba(0,0,0, .05);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.notransition { /*used to reset the ripple without an animatiion*/
    -webkit-transition: none !important;
    transition: none !important;
}


.calculator{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    padding: 13px;

    section{
        margin-top: 16px;
        position: relative;
        display: none;
        font-size: 0px;
        width: 196px;
    }

    section.left{
        float: left;
    }


    section.right{
        float: right;
    }


    #number-container{
        display: inline-block;
    }


    .button{
        width: 25%;
        height: 40px;
        position: relative;
        overflow: hidden;

        display: block;
        float: left;
        cursor: pointer;

        outline: 1px solid rgba(0,0,0,0);

        font-size: 14px;
        line-height: 39px;
        font-weight: 200;
        text-align: center;
        overflow: hidden;
        -webkit-transition: none !important;

        sup{
            font-size: 0.67em;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
            top: -0.7em;
        }

        .sup-sqrt{
            margin-right: -4px; 
        }

        &.rt .sup-sqrt{
            top: -0.9em;
            font-size: 0.7em;
            margin-right: -5px;
        }
    }


    .number{
        line-height: 39px;
        font-weight: 300;
        font-size: 18px;
    }

    .decimal{
        font-weight: bold;
    }

    .button.long{
        width: 98px;
        margin-left:0px;
    }


    .input-border{
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
    }


    .input-wrap{
        position: relative;

        border: 1px solid #fff;
        border-radius: 0;
        height: 44px;

        font-size: 26px;
        text-align: right;
        padding-right: 13px;
        padding-left: 20px;
        padding-top: 3px;


        .input,
        .simulate-input{
            display: block;
            font-size: 1em;
            line-height: 34px;
            letter-spacing: 1px;
        }

        .simulate-input{
            opacity: 0;
            padding: 0;
            display: inline;
            white-space: nowrap;
        }

        .input-after,
        .input-before{
            display: none;
            letter-spacing: 0;
        }
    }




    &.scientific{
        #scientific-1{
            display: inline-block;
        }
    }



    &.scientific,
    &.screenOnly{
        padding: 14px;

        .input-border{
            height: 82px;
        }

        .input-wrap{
            height: 59px;
            font-size: 31px;

            .input,
            .simulate-input{
                line-height: 51px;
                font-size: 1em; 
            }

            &.after,
            &.before{
                font-size: 26px;

                .input,
                .simulate-input{
                    line-height: 32px;
                }
            }

            .input-after,
            .input-before{
                display: none;
                padding-right: 1px;
                opacity: 0.7;
                font-size: 13px;
                line-height: 17px;
                margin-bottom: 1px;
            }
            

            &.before .input-before,
            &.after .input-after{
                display: block;
            }
        }
    }

    &.screenOnly{
        padding: 8px;

        #number-container{
            display: none;
        }
    }
}
