@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face{
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Sofia/Sofia-Regular.ttf");
}


html,
body{
    font-size: 0px;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;

    overflow: auto;
    color: #000;

    background-color: #fff;

    -webkit-user-select:none;
    user-select:none;
}

body,
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    user-select: none;
}

*{
    font-family: 'Roboto', sans-serif;
}

a{
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 300;
    font-size: 18px;
}

.logo{
    font-size: 75;
    margin: 0 0 10px; 
    text-align: center;
    font-family: 'Sofia', cursive;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.08);
}

h1{
    font-size: 28px;
    margin: 5px 0;
    text-shadow: 2px 2px rgba(0,0,0,.05);
}

h2{
    font-size: 20px;
    font-weight: bold;
    margin: 6px 0;
    text-shadow: 2px 2px rgba(0,0,0,.05);
}

h3{
    font-size: 17px;
}

p{
    display: block;
    background-color: rgba(68, 68, 68, 0.4);
    padding: 2px 6px;
    margin-top: -1px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 300;
    min-width: 35px;
    text-align: center;
}

.text-center{
    display: block !important;
    text-align: center !important;
    float: none !important;
}

br{
    font-size: 14px;
}

hr{
    border: none;
    border-bottom: 1px solid rgba(235, 235, 235, 0.4);
    margin: 6px 0 8px;
}

select{
    -webkit-appearance: none;
    appearance: none;    
    border-radius: 3px;
    padding: 3px 6px;
    text-align: center;
    border: none;
    background-color: rgba(68, 68, 68, 0.4);
    font-size: 15px;
    min-width: 135px;
    color: inherit;
}

.select-wrap:after{
    content: "▼";
    display: block;
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 10px;
    padding-left: 4px;
    opacity: .7;
    height: 11px;
    pointer-events: none;
}

.hide{
    display: none;
}

.privacy-policy{
    font-size: 13px;
    font-weight: 300;

    a{
        font-size: 13px;
    }
}